.product-details-container {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.product-datails {
    padding: 50px 60px 90px 60px;
}

.product-datails .product-price {
    font-size: 48px;
}
