.btn-icon {
    height: 70px;
    width: 380px;
    background: #407bff;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
}

.btn-icon-content {
    width: 70px;
    background: #335696;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.product-datails-goback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-goback {
    color: #407bff;
    transform: rotate(-180deg);
    margin-right: 30px;
}

.text-goback {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;
}

.product-details-card {
    border: 1px solid #e1e1e1;
    padding: 38px 29px;
}

.product-details-image {
    width: 353px;
    height: 353px;
}

.product-description-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
    margin-bottom: 25px;
}

.product-description-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
}

.product-datails-name {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    margin-top: 35px;
}
