.product-card {
    padding: 20px 2px 30px 20px;
}

.product-info {
    margin-top: 15px;
    border-top: 1px solid #e1e1e1;
}

.product-name {
    padding-top: 15px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-card-image {
    width: 100%;
}


